.settings-hotkey:after {
	font-size: 15px !important;
}

.disabled-settings {
	pointer-events: none;
    opacity: 0.5;
}

.hotkey-selector {
	background-color: var(--default-color);
	color: white;
}

#typeNewKey-msg {
	color: var(--default-color);
    text-align: center;
    font-weight: 900;
}

#settings-apply-msg {
	font-size: 11px;
    text-align: center;
    color: #929292;
}

#reviews-button {
	background-color: #4da9f7;
    text-align: center;
    font-size: 14px;
}

#reviews-button a {
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    padding: 7px 0;
}

#reviews-button a:after {
    content: '\2197';
    padding-left: 3px;
}